<div class="principal">
  <section class="head">
    <div class="head-division">
      <img
        src="../../../assets/images/Beverly-1.svg"
        alt=""
        class="img-division"
      />
      <p class="title-division">Let's Collaborate</p>
      <p class="text-division">
        Lorem Ipsum is simply dummy text of the printing.
      </p>
    </div>
    <img src="../../../assets/images/Group-66.svg" alt="" class="head-img" />
  </section>

  <section class="info">
    <div class="info-social">
      <p class="social-text">Follow us</p>
      <div class="social-medias">
        <img
          src="../../../assets/images/facebook 1.svg"
          alt=""
          class="img-medias"
        />
        <img
          src="../../../assets/images/instagram 1.svg"
          alt=""
          class="img-medias"
        />
        <img
          src="../../../assets/images/twitter 1.svg"
          alt=""
          class="img-medias"
        />
        <img
          src="../../../assets/images/linkedin 1.svg"
          alt=""
          class="img-medias"
        />
      </div>
    </div>
    <div class="info-tel">
      <img src="../../../assets/images/phone.svg" alt="" class="img-tel" />
      <p class="tel-text">+94 4444 5555 6</p>
    </div>
    <div class="info-map">
      <img src="../../../assets/images/map.svg" alt="" class="map-img" />
      <p class="map-text">but also the leap into electronic typesetting</p>
    </div>
  </section>

  <section class="form-ctn">
    <div class="form-header">
      <p class="form-title">Say hello</p>
      <p class="form-text">
        Lorem Ipsum is simply dummy text of the printing .
      </p>
    </div>

    <form action="contact" class="contact">
      <div class="full-name">
        <div class="name">
          <label for="name">First Name</label>
          <input type="text" />
        </div>

        <div class="name">
          <label for="name">Last Name</label>
          <input type="text" />
        </div>
      </div>

      <div class="form-email">
        <label for="email">Email Address</label>
        <input class="input-email" type="email" name="email" id="email" />
      </div>

      <div class="form-message">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
      </div>
    </form>
    <button class="form-btn">Get in touch</button>
  </section>
</div>
