<div class="container">
  <section class="header-content">
    <img src="../../../assets/images/Rectangle-16.svg" alt="" />
    <img src="../../../assets/images/Rectangle-17.svg" alt="" />
    <div class="c-head">
      <p class="c-head--blue">About us</p>
      <p class="c-head__title">
        Lorem Ipsum is simply dummy text of the printing.
      </p>
      <p class="c-head__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's
      </p>
    </div>
    <img src="../../../assets/images/Rectangle-18.svg" alt="" />
    <img src="../../../assets/images/Rectangle-19.svg" alt="" />
  </section>

  <section class="text-content">
    <p class="content-title">
      Lorem Ipsum is simply dummy text of the printing.
    </p>
    <p class="content-text">
      KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
      applications and website builders measuring dozens of completed projects.
      We build and develop mobile applications for several top platforms,
      including Android & IOS. We build and develop mobile applications for
      several top platforms, including Android & IOS.
    </p>
  </section>

  <section class="context">
    <div class="c-info">
      <p class="c-info-title">
        Lorem Ipsum is simply dummy text of the printing.
      </p>
      <p class="c-info-text">
        KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
        applications and website builders measuring dozens of completed
        projects.
      </p>
      <button routerLink="/contactUs" class="c-info-btn">Contact us</button>
    </div>

    <div class="c-info-serv">
      <div class="serv-sec-one">
        <div class="serv-section">
          <img
            src="../../../assets/images/apps 1.svg"
            alt="web-applications"
            class="serv-red"
          />
          <p class="serv-text">Web Applications</p>
        </div>
        <div class="serv-section">
          <img
            src="../../../assets/images/startup 1.svg"
            alt="seo"
            class="serv-blue"
          />
          <p class="serv-text">SEO</p>
        </div>
      </div>
      <div class="serv-sec-two">
        <div class="serv-section">
          <img
            src="../../../assets/images/coding 1.svg"
            alt="mobile-applications"
            class="serv-purple"
          />
          <p class="serv-text">Mobile Applications</p>
        </div>
        <div class="serv-section">
          <img
            src="../../../assets/images/cloud-computing 1.svg"
            alt="ar-vr"
            class="serv-pink"
          />
          <p class="serv-text">AR/VR</p>
        </div>
      </div>
    </div>
  </section>

  <div class="team">
    <p class="team-title">Our Team</p>
    <div class="team-context">
      <div class="member">
        <img
          class="member-image"
          src="../../../assets/images/john-kabras.svg"
          alt="john-kabras"
        />
        <p class="member-role">CEO</p>
        <p class="member-name">John Kabras</p>
      </div>
      <div class="team-context">
        <div class="member">
          <img
            class="member-image"
            src="../../../assets/images/philips-moris.svg"
            alt="philips-moris"
          />
          <p class="member-role">COO</p>
          <p class="member-name">Philips Shene Moris</p>
        </div>
      </div>
      <div class="team-context">
        <div class="member">
          <img
            class="member-image"
            src="../../../assets/images/Equarn-mohamad.svg"
            alt="equarn-mohamad"
          />
          <p class="member-role">Tech Lead</p>
          <p class="member-name">Equarn Shamir Mohamad</p>
        </div>
        <div class="team-context">
          <div class="member">
            <img
              class="member-image janka"
              src="../../../assets/images/janka-indrajith.png"
              alt="janka-indrajith"
            />
            <p class="member-role">Head of UX</p>
            <p class="member-name">Janka Indrajith</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-email-subscribe></app-email-subscribe>
