<div class="container">
  <div class="section-bottom">
    <div class="bottom">
      <h2>LOGO</h2>
      <p class="btm-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p class="b-text">@Lorem</p>
    </div>
    <div class="section-info">
      <h3 class="title">About us</h3>
      <p class="i-text">Lorem</p>
      <p class="i-text">Portfolio</p>
      <p class="i-text">Careers</p>
      <p class="i-text">Contact us</p>
    </div>
    <div class="section-info">
      <h3 class="title">Contact us</h3>
      <p class="i-text more">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p class="i-text">+908 89097 890</p>
    </div>

    <div class="section-medias">
      <button class="btn-media">
        <img
          src="../../../assets/images/facebook 1.svg"
          class="media"
          alt="facebook"
        />
      </button>
      <button class="btn-media">
        <img
          src="../../../assets/images/instagram 1.svg"
          class="media"
          alt="instagram"
        />
      </button>
      <button class="btn-media">
        <img
          src="../../../assets/images/twitter 1.svg"
          class="media"
          alt="twitter"
        />
      </button>
      <button class="btn-media">
        <img
          src="../../../assets/images/linkedin 1.svg"
          class="media"
          alt="linkedin"
        />
      </button>
    </div>
  </div>
  <div class="space"></div>
  <footer>Copyright ® 2023 Lorem All rights Rcerved</footer>
</div>
