<div class="container">
  <section class="c-main">
    <div class="c-text">
      <h1>
        Experienced <span class="blue">mobile and web</span> applications and
        website builders measuring.
      </h1>
      <p class="text">
        KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
        applications and website builders measuring dozens of completed
        projects. We build and develop mobile applications for several top
        platforms, including Android & IOS.
      </p>
      <div class="c-main-btn">
        <button routerLink="/contactUs" class="contact-btn">Contact us</button>
        <button class="view-btn">View more</button>
      </div>
    </div>
    <img
      class="group-6"
      src="../../../assets/images/Group 6.svg"
      alt="man-computer"
    />
  </section>

  <section class="c-products">
    <div class="prod-col">
      <div class="img-prod-p">
        <img
          src="../../../assets/images/website-content 1.svg"
          alt="web-applications"
          class="img-prod"
          style="
            width: 41px;
            height: 41px;
            padding-top: 25px;
            padding-left: 21px;
            padding-right: 21px;
            padding-bottom: 17px;
          "
        />
      </div>
      <div class="prod-items">
        <h2>Web Applications</h2>
        <p class="text-prod">Lorem Ipsum is simply</p>
      </div>
    </div>
    <div class="prod-col">
      <div class="img-prod-g">
        <img
          src="../../../assets/images/seo-tag 1.svg"
          alt="seo"
          class="img-prod"
          style="width: 33px; height: 33px; padding: 25px"
        />
      </div>
      <div class="prod-items">
        <h2>SEO</h2>
        <p class="text-prod">Lorem Ipsum is simply</p>
      </div>
    </div>
    <div class="prod-col">
      <div class="img-prod-b">
        <img
          src="../../../assets/images/immersive 1.svg"
          alt="vr-solution"
          class="img-prod-b"
          style="width: 33px; height: 33px; padding: 25px"
        />
      </div>
      <div class="prod-items">
        <h2>AR/VR Solutions</h2>
        <p class="text-prod">Lorem Ipsum is simply</p>
      </div>
    </div>
    <div class="prod-col">
      <div class="img-prod-o">
        <img
          src="../../../assets/images/coding (1) 1.svg"
          alt="mobile-applications"
          class="img-prod-o"
          style="width: 34px; height: 34px; padding: 25px 24px"
        />
      </div>
      <div class="prod-items">
        <h2>Mobile Applications</h2>
        <p class="text-prod">Lorem Ipsum is simply</p>
      </div>
    </div>
  </section>

  <section class="c-services">
    <div class="serv-top">
      <h3>Lorem Ipsum is simply dummy text of the printing.</h3>
      <p class="serv-t-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's
      </p>
    </div>

    <div class="first-serv">
      <div class="serv-main">
        <div class="serv-header">
          <img
            class="happy-icon__green"
            src="../../../assets/images/happy 1.svg"
            alt="happy-icon"
            style="width: 26px; height: 26px"
          />
          <div class="serv-head">
            <p class="serv-title">Lorem Ipsum is simply dummy text</p>
            <p class="serv-content">Lorem Ipsum is simply dummy text</p>
          </div>
        </div>
        <p class="serv-main-title">
          <span class="blue">Lorem Ipsum</span> is simply dummy text of the
          printing.
        </p>
        <p class="serv-main-text">
          KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
          applications and website builders measuring dozens of completed
          projects. We build and develop mobile applications for several top
          platforms, including Android & IOS.
        </p>
      </div>
      <img
        src="../../../assets/images/17. Recent Activities 1.svg"
        alt="cellphone"
        class="img-serv"
      />
    </div>

    <div class="sec-serv" style="background-image: url(../../../assets/images/Ellipse-4.svg); background-repeat: no-repeat;">
      <img
        src="../../../assets/images/website-mockup-png-10 1.svg"
        alt="website"
        class="img-serv"
      />

      <div class="serv-main">
        <div class="serv-header">
          <img
            class="happy-icon__blue"
            src="../../../assets/images/happy 1.svg"
            alt="happy-icon"
            style="width: 26px; height: 26px"
          />
          <div class="serv-head">
            <p class="serv-title">Lorem Ipsum is simply dummy text</p>
            <p class="serv-content">Lorem Ipsum is simply dummy text</p>
          </div>
        </div>
        <p class="serv-main-title">
          <span class="blue">Lorem Ipsum</span> is simply dummy text of the
          printing.
        </p>
        <p class="serv-main-text">
          KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
          applications and website builders measuring dozens of completed
          projects. We build and develop mobile applications for several top
          platforms, including Android & IOS.
        </p>
      </div>
    </div>

    <div class="third-serv" style="background-image: url(../../../assets/images/Ellipse-3.svg); background-repeat: no-repeat;background-position-x: 104%;">
      <div class="serv-main">
        <div class="serv-header">
          <img
            class="happy-icon__purple"
            src="../../../assets/images/happy 1.svg"
            alt="happy-icon"
            style="width: 26px; height: 26px"
          />
          <div class="serv-head">
            <p class="serv-title">Lorem Ipsum is simply dummy text</p>
            <p class="serv-content">Lorem Ipsum is simply dummy text</p>
          </div>
        </div>
        <p class="serv-main-title">
          <span class="blue">Lorem Ipsum</span> is simply dummy text of the
          printing.
        </p>
        <p class="serv-main-text">
          KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
          applications and website builders measuring dozens of completed
          projects. We build and develop mobile applications for several top
          platforms, including Android & IOS.
        </p>
      </div>
      <img
        src="../../../assets/images/focus-parallax-hero_1920x1000_ar-vr_0917_layer1-guy 1.svg"
        alt="website"
        class="img-serv"
        
      />
    </div>
  </section>

  <section class="box">
    <div class="white-box">
      <p class="box-title__black">Lorem Ipsum is simply dummy text.</p>
      <p class="box-text__black">
        KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
        applications and website builders measuring dozens of completed
        projects. We build and develop mobile applications for several top
        platforms, including Android & IOS.
      </p>
      <button class="box-btn__blue">View More</button>
    </div>
    <div class="blue-box">
      <p class="box-title__white">Lorem Ipsum is simply dummy text.</p>
      <p class="box-text__white">
        KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
        applications and website builders measuring dozens of completed
        projects. We build and develop mobile applications for several top
        platforms, including Android & IOS.
      </p>
      <button class="box-btn__white">View More</button>
    </div>
  </section>

  <section class="companies">
    <p class="company-t">You will be in good Company</p>
    <div class="company-imgs">
      <img
        src="../../../assets/images/beneoshop.svg"
        alt="beneoshop"
        class="img-comp"
      />
      <img
        src="../../../assets/images/caspio.svg"
        alt="caspio"
        class="img-comp"
      />
      <img
        src="../../../assets/images/HyperGrid.svg"
        alt="hyper-grid"
        class="img-comp"
      />
      <img
        src="../../../assets/images/leotrippi.svg"
        alt="leo-trippi"
        class="img-comp"
      />
    </div>
  </section>
  <app-email-subscribe></app-email-subscribe>
</div>
