<div class="container">
  <section class="top-head">
    <img
      src="../../../assets/images/Speaker-Angle.svg"
      alt="speaker"
      class="speaker-image"
    />
    <h1>Our<span class="blue">Services</span></h1>
    <p class="top-content">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's
    </p>
  </section>

  <section class="section-services">
    <div class="sect-content">
      <img
        src="../../../assets/images/coding 1.svg"
        alt="mobile"
        class="service-purple"
      />
      <div class="service-column">
        <p class="service-title">Mobile Applications</p>
        <p class="service-text" style="width: 323px; height: 53px">
          The simplest but robust technology to accompany with you
        </p>
      </div>
    </div>
    <div class="sect-content">
      <img
        src="../../../assets/images/apps 1.svg"
        alt="app"
        class="service-red"
      />
      <div class="service-column">
        <p class="service-title">Web Applications</p>
        <p class="service-text" style="width: 355px; height: 56px">
          Platform independant business solutions for maximum availability
        </p>
      </div>
    </div>
    <div class="sect-content">
      <img
        src="../../../assets/images/startup 1.svg"
        alt="seo"
        class="service-blue"
      />
      <div class="service-column">
        <p class="service-title">SEO</p>
        <p class="service-text" style="width: 283px; height: 56px">
          Let the world find you on top of others
        </p>
      </div>
    </div>
    <div class="sect-content">
      <img
        src="../../../assets/images/immersive-1.svg"
        alt="ar-vr"
        class="service-pink"
      />
      <div class="service-column">
        <p class="service-title">AR/VR Solutions</p>
        <p class="service-text" style="width: 386px; height: 56px">
          Advanced autonomous technologies to make life simple
        </p>
      </div>
    </div>
  </section>

  <section class="info-content">
    <div class="info">
      <p class="info-title">
        <span class="info-blue">Lorem Ipsum</span> is simply dummy text of the
        printing.
      </p>

      <div class="text-section">
        <p class="info-text">
          KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
          applications and website builders measuring dozens of completed
          projects. We build and develop mobile applications for several top
          platforms, including Android & IOS.
        </p>
        <p class="info-text">
          KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
          applications and website builders measuring dozens
        </p>
      </div>

      <button routerLink="/contactUs" class="info-btn">Contact us</button>
    </div>
    <img
      src="../../../assets/images/3D-Illustration-Product-Development-Skin-01.svg"
      alt=""
      class="info-image"
    />
  </section>

  <section class="numbers">
    <div class="number-section">
      <p class="number-title">6</p>
      <p class="number-text">Happy Clients</p>
    </div>
    <div class="number-section">
      <p class="number-title">11</p>
      <p class="number-text">Completed Projects</p>
    </div>
    <div class="number-section">
      <p class="number-title">7M</p>
      <p class="number-text">Transaction</p>
    </div>
    <div class="number-section">
      <p class="number-title">6000+</p>
      <p class="number-text">Customers</p>
    </div>
  </section>

  <section class="lastest">
    <p class="last-title">Our lastest Projects</p>
    <div class="last-projects">
      <div class="projects">
        <img
          src="../../../assets/images/Rectangle-20.svg"
          alt=""
          class="project-image"
        />
        <p class="project-title">
          Lorem Ipsum is simply dummy text of the printing.
        </p>
        <p class="project-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>

      <div class="projects">
        <img
          src="../../../assets/images/Rectangle-21.svg"
          alt=""
          class="project-image"
        />
        <p class="project-title">
          Lorem Ipsum is simply dummy text of the printing.
        </p>
        <p class="project-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>

      <div class="projects">
        <img
          src="../../../assets/images/Rectangle-22.svg"
          alt=""
          class="project-image"
        />
        <p class="project-title">
          Lorem Ipsum is simply dummy text of the printing.
        </p>
        <p class="project-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
    </div>
  </section>
  <app-email-subscribe></app-email-subscribe>
</div>
