.section-subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: #e8f4fa;
    width: 1909px;
  }
  
  .subs-text {
    padding-top: 148px;
    width: 516px;
    height: 91px;
    color: #252525;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
  }
  
  .s-email {
    padding-bottom: 148px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }
  
  .email {
    border: none;
    outline: none;
    width: 532px;
    height: 67px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.07);
    color: #787878;
    padding-left: 36px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
  
  .btn-email {
    border: none;
    color: #fff4f4;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    width: 173px;
    height: 67px;
    border-radius: 10px;
    background: #000;
  }
  
  .btn-email:hover {
    border: 1px solid #fff;
  }