<div class="principal">
  <section class="container">
    <p class="container-title">Latest news</p>
    <p class="container-subtitle">Updates</p>
    <p class="container-text">
      Lorem Ipsum is simply dummy text of the printing .
    </p>

    <div class="container-search">
      <img
        src="../../../assets/images/lupa.svg"
        alt="lupa"
        class="search-image"
      />
      <input
        class="input-search"
        type="search"
        name="search"
        id="search"
        placeholder="Search"
      />
    </div>

    <div class="container-btns">
      <button class="btn-filter">Lorem ipsum</button>
      <button class="btn-filter">Lorem ipsum</button>
      <button class="btn-filter">Lorem ipsum</button>
      <button class="btn-filter">Lorem ipsum</button>
      <button class="btn-filter">Lorem ipsum</button>
    </div>
  </section>

  <section class="posts">
    <div class="recent-post">
      <img
        src="../../../assets/images/blog-image-notebook.svg"
        alt="notebook"
        class="recent-img"
      />
      <div class="recent-section">
        <p class="recent-title">
          Lorem Ipsum is simply dummy text of the printing.
        </p>
        <p class="recent-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the .
        </p>
        <div class="recent-author">
          <img
            src="../../../assets/images/profile-picture.svg"
            alt="author"
            class="author-img"
          />
          <div class="author-profile">
            <div class="author">
              <p class="author-title">Name here</p>
              <p class="author-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="post-sections">
      <div class="authors">
        <img
          src="../../../assets/images/man-suit.svg"
          alt="man-suit"
          class="authors-image"
        />
        <div class="authors-section">
          <p class="authors-title">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
          <p class="authors-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the .
          </p>
          <div class="authors-author">
            <img
              src="../../../assets/images/woman-author.svg"
              alt="author"
              class="authors-img"
            />
            <div class="authors-profile">
              <p class="authors-prof-title">Name here</p>
              <p class="authors-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>

      <div class="authors">
        <img
          src="../../../assets/images/teamwork.svg"
          alt="teamwork"
          class="authors-image"
        />
        <div class="authors-section">
          <p class="authors-title">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
          <p class="authors-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the .
          </p>
          <div class="authors-author">
            <img
              src="../../../assets/images/man-author.svg"
              alt="author"
              class="authors-img"
            />
            <div class="authors-profile">
              <p class="authors-prof-title">Name here</p>
              <p class="authors-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>

      <div class="authors">
        <img
          src="../../../assets/images/two-monitors.svg"
          alt="two-monitors"
          class="authors-image"
        />
        <div class="authors-section">
          <p class="authors-title">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
          <p class="authors-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the .
          </p>
          <div class="authors-author">
            <img
              src="../../../assets/images/women-author.svg"
              alt="author"
              class="authors-img"
            />
            <div class="authors-profile">
              <p class="authors-prof-title">Name here</p>
              <p class="authors-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-sections" style="padding-top: 141px">
      <div class="authors">
        <img
          src="../../../assets/images/man-suit.svg"
          alt="man-suit"
          class="authors-image"
        />
        <div class="authors-section">
          <p class="authors-title">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
          <p class="authors-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the .
          </p>
          <div class="authors-author">
            <img
              src="../../../assets/images/woman-author.svg"
              alt="author"
              class="authors-img"
            />
            <div class="authors-profile">
              <p class="authors-prof-title">Name here</p>
              <p class="authors-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>

      <div class="authors">
        <img
          src="../../../assets/images/teamwork.svg"
          alt="teamwork"
          class="authors-image"
        />
        <div class="authors-section">
          <p class="authors-title">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
          <p class="authors-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the .
          </p>
          <div class="authors-author">
            <img
              src="../../../assets/images/man-author.svg"
              alt="author"
              class="authors-img"
            />
            <div class="authors-profile">
              <p class="authors-prof-title">Name here</p>
              <p class="authors-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>

      <div class="authors">
        <img
          src="../../../assets/images/two-monitors.svg"
          alt="two-monitors"
          class="authors-image"
        />
        <div class="authors-section">
          <p class="authors-title">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
          <p class="authors-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the .
          </p>
          <div class="authors-author">
            <img
              src="../../../assets/images/women-author.svg"
              alt="author"
              class="authors-img"
            />
            <div class="authors-profile">
              <p class="authors-prof-title">Name here</p>
              <p class="authors-date">20.12.2020</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-email-subscribe></app-email-subscribe>
